@import "../nodebb-theme-vanilla/theme";

/* Custom styling goes here */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=PT+Sans:wght@400;700&display=swap');
@import "./less/header";
@import "./less/categories";
@import "./less/footer";
@yellow-electrified: #ffde17;
body {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
  }
  #header-menu {
    border:0;
    border-radius: 0;
    #nav-dropdown {
      padding: 0;
    }
    .navbar-header > span {
      display: none;
    }
  }
  .topic .posts .post-block .post-content {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'PT Sans', sans-serif;
    }
  }
  .topic .posts .main-post h3,
  .category .topic-row h3 {
    font-family: 'PT Sans', sans-serif;
  }
  .account .cover {
    margin-top: 100px;
  }
}
@media (max-width:768px ) {
  body{
    #header-menu {
      .navbar-header > span {
        display: inline-block;
        color: #fff;
        float: right;
        margin: 15px 15px 15px 0;
      }
    }
  }
}
